@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }

  html[lang="ar"] body,
  html[dir="rtl"] body {
    @apply font-arabic;
  }
}

@layer utilities {
  .rtl\:space-x-reverse > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 1;
  }
}
